<footer>
    <div class="copy">
        <p>© 2024 Academia Feeling Music . todos los derechos reservados
            <a href="www.feelingmusic.com.ar">Feeling Music</a>
        </p>
    </div>
</footer>

</body>  
</html>