<header>
    <div class="header-main">
        <div class="container">
            <nav class="navbar navbar-default">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    
                </div>
                <h1>
                    <a href="/"><span class="golden-header">Feeling</span> <span class="silver-header">Music</span></a>
                </h1>
                <!-- navbar-header -->
                <div class="collapse navbar-collapse cl-effect-13" id="bs-example-navbar-collapse-1">

                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <a href="/" class="active scroll">Inicio</a>
                        </li>
                        <li>
                            <a href="#about" class="scroll">La Academia</a>
                        </li>
                        <li>
                            <a href="#services" class="scroll">Servicios</a>
                        </li>
                        <li>
                            <a href="#team" class="scroll">Profesores</a>
                        </li>
                        <li>
                            <a href="#gallery" class="scroll">Galería</a>
                        </li>
                        <li>
                            <a href="#contact" class="scroll">Contacto</a>
                        </li>
                    </ul>

                </div>
                <div class="clearfix"> </div>
            </nav>
        </div>
    </div>
</header>