<header>
    <div class="header-main">
        <div class="container">
            <nav class="navbar navbar-default" role="navigation" aria-label="Navegación principal">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" 
                            aria-expanded="false" 
                            aria-controls="bs-example-navbar-collapse-1"
                            aria-label="Toggle navigation">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                <h1>
                    <a href="/"><span class="golden-header">Feeling</span> <span class="silver-header">Music</span></a>
                </h1>
                <!-- navbar-header -->
                <div class="collapse navbar-collapse cl-effect-13" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <a href="/" class="active scroll">Inicio</a>
                        </li>
                        <li>
                            <a href="#about" class="scroll">La Academia</a>
                        </li>
                        <li>
                            <a href="#services" class="scroll">Servicios</a>
                        </li>
                        <li>
                            <a href="#team" class="scroll">Profesores</a>
                        </li>
                        <li>
                            <a href="#gallery" class="scroll">Galería</a>
                        </li>
                        <li>
                            <a href="#contact" class="scroll">Contacto</a>
                        </li>
                        <li>
                            <% if (typeof isAuthenticated !== 'undefined' && isAuthenticated) { %>
                                <a href="#" onclick="logout(); return false;"><i class="fa fa-sign-out"></i> Cerrar Sesión</a>
                            <% } else { %>
                                <a href="/login2"><i class="fa fa-user"></i> Iniciar Sesión</a>
                            <% } %>
                        </li>
                    </ul>
                </div>

                <!-- Agregar barra de búsqueda -->
                <div class="w3-agile-sectn_search">
                    <div class="cd-main-header">
                        <ul class="cd-header-buttons">
                            <li>
                                <a class="cd-search-trigger" href="#cd-search">
                                    <span></span>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div id="cd-search" class="cd-search">
                        <form action="#" method="post">
                            <input name="Search" type="search" placeholder="Click enter after typing">
                        </form>
                    </div>
                </div>

                <div class="clearfix"> </div>
            </nav>
        </div>
    </div>
</header>

<script>
    function logout() {
        fetch('/logout', {
            method: 'POST',
            credentials: 'same-origin'
        }).then(() => {
            window.location.href = '/login2';
        });
    }
</script>