<!DOCTYPE html>
<html lang="es">

<head>
    <title><%= title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <meta name="keywords" content="Stt" />

    <link href="/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
    <link href="/css/font-awesome.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/flexslider.css" type="text/css" media="screen" />
    <link href="/css/style.css" rel="stylesheet" type="text/css" media="all" />
    <link href="//fonts.googleapis.com/css?family=Raleway:200,300,400,600,700,800,900" rel="stylesheet">
    

</head>

<body>
    <header>
        <div class="banner" id="home">
            <div class="w3-agile-dot">
                <div class="header">
                    <div class="header-main">
                        <div class="container">
                            <nav class="navbar navbar-default">
                                <div class="navbar-header">
                                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse">
                                        <span class="sr-only">Toggle navigation</span>
                                        <span class="icon-bar"></span>
                                        <span class="icon-bar"></span>
                                        <span class="icon-bar"></span>
                                    </button>
                                </div>
                                <h1>
                                    <a href="/"><span class="golden-header">Feeling</span> <span class="silver-header">Music</span></a>
                                </h1>
                                <div class="collapse navbar-collapse" id="navbar-collapse">
                                    <ul class="nav navbar-nav navbar-right">
                                        <li><a href="/" class="active scroll">Inicio</a></li>
                                        <li><a href="#about" class="scroll">La Academia</a></li>
                                        <li><a href="#services" class="scroll">Servicios</a></li>
                                        <li><a href="#team" class="scroll">Profesores</a></li>
                                        <li><a href="#gallery" class="scroll">Galería</a></li>
                                        <li><a href="#contact" class="scroll">Contacto</a></li>
                                    </ul>
                                </div>
                                <div class="w3-agile-sectn_search">
                                    <div class="cd-main-header">
                                        <ul class="cd-header-buttons">
                                            <!-- <li><a class="cd-search-trigger" href="#cd-search"></a></li> -->
                                            <li ><a class="cd-search-trigger" href="/login"> Iniciar Sesión </a></li> 
                                             
                                        </ul>
                                    </div>
                                    <div id="cd-search" class="cd-search">
                                        <form action="#" method="post">
                                            <input name="Search" type="search" placeholder="Click enter after typing">
                                        </form>
                                    </div>
                                </div>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
