<!DOCTYPE html>
<html lang="zxx">

<head>
	<title><%= title %></title>
	<!-- Meta-Tags -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta charset="utf-8">
	<meta name="keywords" content="Stereo Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, Sony Ericsson, Motorola web design" />
	<script type="application/x-javascript">
		addEventListener("load", function () {
			setTimeout(hideURLbar, 0);
		}, false);

		function hideURLbar() {
			window.scrollTo(0, 1);
		}
	</script>
	<!-- //Meta-Tags -->
	<link href="css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
	<!--bootstrap-css-->
	<link href="css/font-awesome.css" rel="stylesheet">
	<!--font-awesome-css-->
	<link rel="stylesheet" href="css/flexslider.css" type="text/css" media="screen" />
	<!--flexslider-css-->
	<link href="css/style.css" rel="stylesheet" type="text/css" media="all" />
	<!--style-sheet-->
	<!--fonts-->
	<link href="//fonts.googleapis.com/css?family=Raleway:200,300,400,600,700,800,900" rel="stylesheet">
	<!--//fonts-->
	<link href="/css/chat-widget.css" rel="stylesheet" type="text/css">

</head>

<body>
	<!--banner start here-->
	<div class="banner" id="home">
		<%- include('partials/header1') %>
		
	</div>
	<!--banner end here-->
	<!-- about -->
	<div class="about" id="about">
		<div class="banner_bottom_w3-agile_grids">
			<div class="container">
				<h3 class="w3layouts-heading">Quienes
					<span>Somos</span>
				</h3>
				<div class="banner_bottom_right_grids">
					<div class="col-md-4 banner_bottom_right_grid">
						<div class="view view-tenth ab1">
							<div class="w3-agile_text_box">
								<span class="fa fa-bullhorn" aria-hidden="true"></span>
								<h3>Eventos</h3>
								<p class="paragraph-w3l">Organizamos shows y presentaciones en vivo.</p>
							</div>
							<div class="mask">
								<img src="images/evento.jpg" class="img-responsive" alt="">
							</div>
						</div>
					</div>
					<div class="col-md-4 banner_bottom_right_grid">
						<div class="view view-tenth ab2">
							<div class="w3-agile_text_box">
								<span class="fa fa-music" aria-hidden="true"></span>
								<h3>Bandas musicales</h3>
								<p class="paragraph-w3l">Forma parte de nuestras bandas y grupos.</p>
							</div>
							<div class="mask">
								<img src="images/banda.jpg" class="img-responsive" alt="">
							</div>
						</div>
					</div>

					<div class="col-md-4 banner_bottom_right_grid">
						<div class="view view-tenth ab3">
							<div class="w3-agile_text_box">
								<span class="fa fa-camera-retro" aria-hidden="true"></span>
								<h3>Profesores</h3>
								<p class="paragraph-w3l">Profesores certificados y experimentados.</p>
							</div>
							<div class="mask">
								<img src="images/profesores.jpg" class="img-responsive" alt="">
							</div>
						</div>
					</div>
					<div class="clearfix"> </div>
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
		<!-- about-bottom-->
		<div class="services-inner-agileits-w3layouts">
			<div class="container">
				<div class="col-md-8">
					<ul id="flexiselDemo1">
						<li>
							<div class="laptop">
								<div class="img-box">
									<img class="img-responsive zoom-img" src="images/a1.jpg" alt=" " />
								</div>
								<div class="flex-info ">
									<h4>900
										<span>Happy Clients</span>
									</h4>
									<p>Lorem ipsum dolor sit amet.</p>
								</div>
							</div>

						</li>
						<li>
							<div class="laptop">
								<div class="img-box">
									<img class="img-responsive zoom-img" src="images/a2.jpg" alt=" " />
								</div>
								<div class="flex-info flex-info1">
									<h4>250
										<span>Events</span>
									</h4>
									<p>Lorem ipsum dolor sit amet.</p>
								</div>
							</div>

						</li>
						<li>
							<div class="laptop">
								<div class="img-box">
									<img class="img-responsive zoom-img" src="images/a3.jpg" alt=" " />
								</div>
								<div class="flex-info flex-info2">
									<h4>25
										<span>Singers</span>
									</h4>
									<p>Lorem ipsum dolor sit amet.</p>
								</div>
							</div>

						</li>
						<li>
							<div class="laptop">
								<div class="img-box">
									<img class="img-responsive zoom-img" src="images/a2.jpg" alt=" " />
								</div>
								<div class="flex-info flex-info3">
									<h4>40
										<span>Musicians</span>
									</h4>
									<p>Lorem ipsum dolor sit amet.</p>
								</div>
							</div>

						</li>
					</ul>

				</div>
				<div class="col-md-4 content-pro-head">
					<h3>Somos los mejores en este campo</h3>
					<p class="paragraph-w3l">Nuestra academia cuenta con m치s de 3 a침os de experiencia formando m칰sicos. 
						Ofrecemos una metodolog칤a 칰nica y personalizada, con profesores apasionados y 
						un ambiente ideal para desarrollar tu talento musical.</p>
					<div class="button-w3-agile-sectn">
						<a href="#" class="know-more" data-toggle="modal" data-target="#myModal1">Saber m치s</a>
					</div>
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
	</div>
	<!-- //about-bottom -->
	<!-- //about -->
	<!-- Modal1 -->
	<div class="modal fade" id="myModal1" tabindex="-1" role="dialog">
		<div class="modal-dialog">
			<!-- Modal content-->
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<img src="images/bann.jpg" alt=" " class="img-responsive">
					<h5>Somos los mejores en este campo</h5>
					<p>Trabajamos estrechamente con usted para comprender sus metas y objetivos para luego desarrollar un plan de estudios. Nuestro equipo de expertos de profesores puede ayudarle a desarrollar su talento musical.</p>
				</div>
			</div>
		</div>
	</div>
	<!-- //Modal1 -->

	<!--services -->
	<!-- title-with-image -->
	<div class="title-img" id="services">
		<div class="container">
			<h3 class="bold-title">Servicios</h3>
		</div>
	</div>
	<!--// title-with-image -->
	<div class="services-agileits-w3layouts">
		<div class="container">
			<div class="services-agileits-w3layouts-w3layouts">
				<div class="col-md-3 service-agileinfo-grids">
					<i class="fa fa-bookmark-o" aria-hidden="true"></i>
					<p class="paragraph-w3l">Asesoramiento personalizado para estudiantes que desean mejorar su t칠cnica o estilo musical.</p>
					<h4>Asesoramiento musical</h4>
				</div>
				<div class="col-md-3 service-agileinfo-grids">
					<i class="fa fa-handshake-o" aria-hidden="true"></i>
					
					<p class="paragraph-w3l">Organizaci칩n de eventos y conciertos para estudiantes y profesores, incluyendo recitales y conciertos en vivo.</p>
					<h4>Eventos y conciertos</h4>
				</div>
				<div class="col-md-3 service-agileinfo-grids">
					<i class="fa fa-money" aria-hidden="true"></i>
					<p class="paragraph-w3l">Efectivo y transferencia bancaria.</p>
					<h4>M칠todos de pago</h4>
				</div>
				<div class="col-md-3 service-agileinfo-grids">
					<!-- <i class="fa fa-pencil-square-o" ></i> -->
					<i class="fa fa-check" aria-hidden="true"></i>
					<p class="paragraph-w3l">Acceso a instrumentos y equipo para estudiantes y profesores.</p>
					<h4>Acceso a instrumentos y equipo</h4>
				</div>
				<div class="col-md-3 service-agileinfo-grids">
					
					<i class="fa fa-line-chart" aria-hidden="true"></i>
					<p class="paragraph-w3l">Servicio de promoci칩n para bandas y artistas consolidados y en formaci칩n, incluyendo estudiantes de m칰sica, que desean aumentar su visibilidad, llegar a un p칰blico m치s amplio y llevar su carrera musical al siguiente nivel.</p>
					<h4>Promoci칩n de bandas</h4>
				</div>
				<div class="col-md-3 service-agileinfo-grids">
					<i class="fa fa-user" aria-hidden="true"></i>
					<p class="paragraph-w3l">Clases personalizadas y grupales.</p>
					<h4>Clases individuales</h4>
				</div>
				<div class="col-md-3 service-agileinfo-grids">
					<i class="fa fa-users" aria-hidden="true"></i>
					<p class="paragraph-w3l">Aprende junto a otros m칰sicos.</p>
					<h4>Clases grupales</h4>
				</div>
				<img src="images/services1.png" class="img-responsive" alt="" />
				<div class="clearfix"> </div>
			</div>
		</div>
	</div>

	<!-- //services -->
	<!-- Events -->
	<div class="events" id="events">
		<div class="container">
			<h3 class="w3layouts-heading">Nuestros
				<span>Eventos</span>
			</h3>
			<div class="events-row">
				<div class="col-md-4 events-grids">
					<div class="thumbnail events-wthree">
						<img src="images/foto1.jpg" class="img-responsive" alt="">
					</div>
					<div class="thumbnail events-wthree">
						<img src="images/foto2.jpg" class="img-responsive" alt="">
					</div>
				</div>
				<div class="col-md-4 events-grids">
					<div class="thumbnail events-wthree">
						<img src="images/foto3.jpg" class="img-responsive" alt="">
					</div>
					<div class="thumbnail events-wthree">
						<img src="images/foto4.jpg" class="img-responsive" alt="">
					</div>
				</div>
				<div class="col-md-4 events-grids">
					<div class="thumbnail events-wthree">
						<img src="images/foto5.jpg" class="img-responsive" alt="">
					</div>
					<div class="thumbnail events-wthree">
						<img src="images/foto6.jpg" class="img-responsive" alt="">
					</div>
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>

	</div>
	<!-- //Events -->
	<!-- team -->
	<div class="team" id="team">
		<!-- title-with-image -->
		<div class="title-img white-img">
			<div class="container">
				<h3 class="bold-title black-title">Nuestro Equipo</h3>
			</div>
		</div>
		<!--// title-with-image -->
		<div class="container">
			<div class="agileits-w3layouts-team-grids">
				<div class="col-md-3 col-sm-3 col-xs-6 agileits-w3layouts-team-grid">
					<div class="team-info">
						<img src="images/diego.jpg" alt="">
						<div class="team-caption">
							<h4>Diego Pe침ailillo</h4>
							<p>Director de la academia</p>
							<ul>
								<li>
									<a href="https://www.instagram.com/academia_feelingmusic/">
										<i class="fa fa-instagram"></i>
									</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
				<div class="col-md-3 col-sm-3 col-xs-6 agileits-w3layouts-team-grid">
					<div class="team-info">
						<img src="images/pablo.jpg" alt="">
						<div class="team-caption">
							<h4>Pablo Leon</h4>
							<p>Co-director de la academia y profesor</p>
							<ul>
								<li>
									<a href="https://www.instagram.com/__pabloleon__/">
										<i class="fa fa-instagram"></i>
									</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
				<div class="col-md-3 col-sm-3 col-xs-6 agileits-w3layouts-team-grid">
					<div class="team-info">
						<img src="images/janay.jpg" alt="">
						<div class="team-caption">
							<h4>Janay Galleguillos</h4>
							<p>Directora de grupo</p>
							<ul>
								<li>
									<a href="https://www.instagram.com/espacio_newen_melipilla/">
										<i class="fa fa-instagram"></i>
									</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
				<div class="col-md-3 col-sm-3 col-xs-6 agileits-w3layouts-team-grid">
					<div class="team-info">
						<img src="images/efrain.jpg" alt="">
						<div class="team-caption">
							<h4>Efrain Gonzales</h4>
							<p>Director y profesor</p>
							<ul>
								<li>
									<a href="https://www.instagram.com/bsfamilycompany/">
										<i class="fa fa-instagram"></i>
									</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
	</div>
	<!-- //team -->

	<!-- gallery -->
	<div class="gallery" id="gallery">
		<div class="container">
			<h3 class="w3layouts-heading">Nuestra
				<span>Galer칤a</span>
			</h3>
		</div>
		<div class="w3layouts-grids gal-agileits-w3layouts">
			<div id="jzBox" class="jzBox">
				<div id="jzBoxNextBig"></div>
				<div id="jzBoxPrevBig"></div>
				<img src="#" id="jzBoxTargetImg" alt="" />
				<div id="jzBoxBottom">
					<div id="jzBoxTitle"></div>
					<div id="jzBoxMoreItems">
						<div id="jzBoxCounter"></div>
						<i class="arrow-left" id="jzBoxPrev"></i>
						<i class="arrow-right" id="jzBoxNext"></i>
					</div>
					<i class="close" id="jzBoxClose"></i>
				</div>
			</div>
			<div class="gallery-grids-row">
				<div class="col-md-3 gallery-grid">
					<div class="wpf-demo-4">
						<a href="images/bateria2.jpg" class="jzBoxLink item-hover">
							<img src="images/bateria2.jpg" alt=" " class="img-responsive" />
							<div class="view-caption">
							</div>
						</a>
					</div>
				</div>
				<div class="col-md-3 gallery-grid">
					<div class="wpf-demo-4">
						<a href="images/galeria1.JPG" class="jzBoxLink item-hover">
							<img src="images/galeria1.JPG" alt=" " class="img-responsive" />
							<div class="view-caption">
							</div>
						</a>
					</div>
				</div>
				<div class="col-md-3 gallery-grid">
					<div class="wpf-demo-4">
						<a href="images/galeria2.JPG" class="jzBoxLink item-hover">
							<img src="images/galeria2.JPG" alt=" " class="img-responsive" />
							<div class="view-caption">
							</div>
						</a>
					</div>
				</div>
				<div class="col-md-3 gallery-grid">
					<div class="wpf-demo-4">
						<a href="images/galeria3.JPG" class="jzBoxLink item-hover">
							<img src="images/galeria3.JPG" alt=" " class="img-responsive" />
							<div class="view-caption">
							</div>
						</a>
					</div>
				</div>
				<div class="col-md-3 gallery-grid">
					<div class="wpf-demo-4">
						<a href="images/galeria4.JPG" class="jzBoxLink item-hover">
							<img src="images/galeria4.JPG" alt=" " class="img-responsive" />
							<div class="view-caption">
							</div>
							</div>
						</a>
					</div>
				</div>
				<div class="col-md-3 gallery-grid">
					<div class="wpf-demo-4">
						<a href="images/galeria5.JPG" class="jzBoxLink item-hover">
							<img src="images/galeria5.JPG" alt=" " class="img-responsive" />
							<div class="view-caption">
							</div>
						</a>
					</div>
				</div>
				<div class="col-md-3 gallery-grid">
					<div class="wpf-demo-4">
						<a href="images/galeria6.JPG" class="jzBoxLink item-hover">
							<img src="images/galeria6.JPG" alt=" " class="img-responsive" />
							<div class="view-caption">
							</div>
							</div>
						</a>
					</div>
				</div>
				<div class="col-md-3 gallery-grid">
					<div class="wpf-demo-4">
						<a href="images/galeria7.JPG" class="jzBoxLink item-hover">
							<img src="images/galeria7.JPG" alt=" " class="img-responsive" />
							<div class="view-caption">
							</div>
							</div>
						</a>
					</div>
				</div>

				<div class="clearfix"> </div>
			</div>
		</div>
	</div>
	<!-- //gallery -->
	<!-- contact -->
	<!-- mail -->
	<div class="contact-sectn" id="contact">
		<div class="container">
			<h3 class="w3layouts-heading white-title">Contactenos
			</h3>
			<div class="w3-agile_mail_grids">
				<div class="col-md-12 w3-agile_mail_grid_right">
					<!-- Instagram -->
					<a href="https://www.instagram.com/academia_feelingmusic/" target="_blank" class="card-link">
						<div class="card">
							<div class="icon">
								<svg viewBox="0 0 24 24" height="24" width="24" xmlns="http://www.w3.org/2000/svg">
									<path d="M11.984 16.815c2.596 0 4.706-2.111 4.706-4.707 0-1.409-.623-2.674-1.606-3.538-.346-.303-.735-.556-1.158-.748-.593-.27-1.249-.421-1.941-.421s-1.349.151-1.941.421c-.424.194-.814.447-1.158.749-.985.864-1.608 2.129-1.608 3.538 0 2.595 2.112 4.706 4.706 4.706zm.016-8.184c1.921 0 3.479 1.557 3.479 3.478 0 1.921-1.558 3.479-3.479 3.479s-3.479-1.557-3.479-3.479c0-1.921 1.558-3.478 3.479-3.478zm5.223.369h6.777v10.278c0 2.608-2.114 4.722-4.722 4.722h-14.493c-2.608 0-4.785-2.114-4.785-4.722v-10.278h6.747c-.544.913-.872 1.969-.872 3.109 0 3.374 2.735 6.109 6.109 6.109s6.109-2.735 6.109-6.109c.001-1.14-.327-2.196-.87-3.109zm2.055-9h-12.278v5h-1v-5h-1v5h-1v-4.923c-.346.057-.682.143-1 .27v4.653h-1v-4.102c-1.202.857-2 2.246-2 3.824v3.278h7.473c1.167-1.282 2.798-2 4.511-2 1.722 0 3.351.725 4.511 2h7.505v-3.278c0-2.608-2.114-4.722-4.722-4.722zm2.722 5.265c0 .406-.333.735-.745.735h-2.511c-.411 0-.744-.329-.744-.735v-2.53c0-.406.333-.735.744-.735h2.511c.412 0 .745.329.745.735v2.53z"></path>
								</svg>
							</div>
							<strong>Instagram</strong>
							<div class="card__body">
								S칤guenos en Instagram para ver nuestros 칰ltimos eventos
							</div>
							<span>Seguir</span>
						</div>
					</a>

					<!-- WhatsApp -->
					<a href="https://wa.me/56956425461?text=Hola,%20necesito%20m치s%20informaci칩n%20游녦" target="_blank" class="card-link">
						<div class="card">
							<div class="icon">
								<svg viewBox="0 0 24 24" height="24" width="24" xmlns="http://www.w3.org/2000/svg">
									<path d="M12.031 6.172c-3.181 0-5.767 2.586-5.768 5.766-.001 1.298.38 2.27 1.019 3.287l-.582 2.128 2.182-.573c.978.58 1.911.928 3.145.929 3.178 0 5.767-2.587 5.768-5.766.001-3.187-2.575-5.77-5.764-5.771zm3.392 8.244c-.144.405-.837.774-1.17.824-.299.045-.677.063-1.092-.069-.252-.08-.575-.187-.988-.365-1.739-.751-2.874-2.502-2.961-2.617-.087-.116-.708-.94-.708-1.793s.448-1.273.607-1.446c.159-.173.346-.217.462-.217l.332.006c.106.005.249-.04.39.298.144.347.491 1.2.534 1.287.043.087.072.188.014.304-.058.116-.087.188-.173.289l-.26.304c-.087.086-.177.18-.076.354.101.174.449.741.964 1.201.662.591 1.221.774 1.394.86s.274.072.376-.043c.101-.116.433-.506.549-.68.116-.173.231-.145.39-.087s1.011.477 1.184.564.289.13.332.202c.045.072.045.419-.1.824zm-3.423-14.416c-6.627 0-12 5.373-12 12s5.373 12 12 12 12-5.373 12-12-5.373-12-12-12zm.029 18.88c-1.161 0-2.305-.292-3.318-.844l-3.677.964.984-3.595c-.607-1.052-.927-2.246-.926-3.468.001-3.825 3.113-6.937 6.937-6.937 1.856.001 3.598.723 4.907 2.034 1.31 1.311 2.031 3.054 2.03 4.908-.001 3.825-3.113 6.938-6.937 6.938z"/>
								</svg>
							</div>
							<strong>WhatsApp</strong>
							<div class="card__body">
								Cont치ctanos directamente por WhatsApp
							</div>
							<span>Contactar</span>
						</div>
					</a>

					<!-- Ubicaci칩n -->
					<a href="https://www.google.com/maps/place/San+Miguel+594,+9580865+Melipilla,+Regi칩n+Metropolitana/" target="_blank" class="card-link">
						<div class="card">
							<div class="icon">
								<svg viewBox="0 0 24 24" height="24" width="24" xmlns="http://www.w3.org/2000/svg">
									<path d="M12 0c-4.198 0-8 3.403-8 7.602 0 4.198 3.469 9.21 8 16.398 4.531-7.188 8-12.2 8-16.398 0-4.199-3.801-7.602-8-7.602zm0 11c-1.657 0-3-1.343-3-3s1.343-3 3-3 3 1.343 3 3-1.343 3-3 3z"/>
								</svg>
							</div>
							<strong>Vis칤tanos</strong>
							<div class="card__body">
								San Miguel 594, Melipilla, Regi칩n Metropolitana
							</div>
							<span>Ver ubicaci칩n</span>
						</div>
					</a>
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
	</div>
	<%- include('partials/footer') %>
	<!--/footer -->

	<!-- Scripts -->
	<script src="js/jquery-2.1.4.min.js"></script>
	<script src="js/bootstrap.js"></script>
	<script src="js/main.js"></script>
	<script src="js/jquery.flexslider.js"></script>
	
	<!-- Chat Widget -->
	<script src="/js/chat-widget.js"></script>
</body>

</html>