# Ignorar archivos de entorno
.env

# Ignorar la carpeta node_modules
node_modules/

# Ignorar Puppeteer
Aplicación/node_modules/puppeteer-core/.local-chromium/

#base de datos de prueba
feeling_music_test(1).sql